# MacOS System Files
.DS_Store

# Visual Studio Code setting folder
.vscode/

# Build Results
[Bb]uild/
[Bb]uilds/

# log files
[Ll]ogs/
*.log
NetworkTest/Assets/05. MapDesign/Assets/Creepy_Cat/3D Scifi Kit Vol 4/Textures
NetworkTest/Assets/05. MapDesign/Assets/Creepy_Cat/3D Scifi Kit Vol 4/Scenes
NetworkTest/Assets/05. MapDesign/Assets/Creepy_Cat/3D Scifi Kit Vol 4/Meshes
NetworkTest/Assets/05. MapDesign/Assets/Creepy_Cat/3D Scifi Kit Vol 4/Font
NetworkTest/Assets/05. MapDesign/Assets/Creepy_Cat/3D Scifi Kit Vol 4/Editor
NetworkTest/Assets/05. MapDesign/Assets/Creepy_Cat/3D Scifi Kit Vol 4/Lens Flares
NetworkTest/Assets/05. MapDesign/Assets/Creepy_Cat/3D Scifi Kit Vol 4/Prefabs/Nature
