# MacOS System Files
.DS_Store

# Visual Studio Code setting folder
.vscode/

# Build Results
[Bb]uild/
[Bb]uilds/

# log files
[Ll]ogs/
*.log
NetworkTest/Assets/05. MapDesign/Assets/Creepy_Cat/3D Scifi Kit Vol 4/Textures
NetworkTest/Assets/05. MapDesign/Assets/Creepy_Cat/3D Scifi Kit Vol 4/Scenes
NetworkTest/Assets/05. MapDesign/Assets/Creepy_Cat/3D Scifi Kit Vol 4/Meshes
NetworkTest/Assets/05. MapDesign/Assets/Creepy_Cat/3D Scifi Kit Vol 4/Font
NetworkTest/Assets/05. MapDesign/Assets/Creepy_Cat/3D Scifi Kit Vol 4/Editor
NetworkTest/Assets/05. MapDesign/Assets/Creepy_Cat/3D Scifi Kit Vol 4/Lens Flares
NetworkTest/Assets/05. MapDesign/Assets/Creepy_Cat/3D Scifi Kit Vol 4/Prefabs/Nature
NetworkTest/Assets/05. MapDesign/01. Scenes/Planet_1_Scene/NavMesh-Terrain_A.asset
NetworkTest/Assets/05. MapDesign/01. Scenes/Planet_1_Scene/NavMesh-Terrain_A.asset.meta
NetworkTest/Assets/05. MapDesign/01. Scenes/Planet_1_Scene/NavMesh-Terrain_B.asset
NetworkTest/Assets/05. MapDesign/01. Scenes/Planet_1_Scene/NavMesh-Terrain_B.asset.meta
NetworkTest/Assets/05. MapDesign/01. Scenes/Planet_1_Scene/NavMesh-Terrain_C.asset
NetworkTest/Assets/05. MapDesign/01. Scenes/Planet_1_Scene/NavMesh-Terrain_C.asset.meta
NetworkTest/Assets/05. MapDesign/01. Scenes/Planet_1_Scene/NavMesh-Terrain_D.asset
NetworkTest/Assets/05. MapDesign/01. Scenes/Planet_1_Scene/NavMesh-Terrain_D.asset.meta
